header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  padding: 1.25rem 1.9rem;
  position: fixed;
}

.linkbar {
  display: flex;
  position: relative;
  align-items: center;
  padding: 0.5rem;
  border-radius: 2.5rem;
  padding: 0.8rem 1rem;
  background-color: rgba(20, 21, 22, 0.5);
}

.linktext {
  width: 220px;
  overflow: auto;
  margin: 0 1rem;
}

.linktext::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 991px) {
  .linkbar {
    padding: 0;
    position: initial;
    background-color: transparent;
  }

  .linktext {
    display: none;
  }
}
