* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Caustenround";
  src: url(/public/fonts/Causten-Black.otf) format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Caustenround";
  src: url(/public/fonts/Causten-Regular.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Caustenround";
  src: url(/public/fonts/Causten-SemiBold.otf) format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Caustenround", sans-serif;
  line-height: 1.5;
  background-color: rgb(10, 11, 23);
  color: rgb(225, 222, 219);
  background-image: url(https://6123e17b94094d00d26d6fc0--dehidden-nft.netlify.app/static/media/BG%20Gradientz.f61333d5.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  height: 100vh;
  box-sizing: border-box;
  align-items: stretch;
}
