* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Caustenround";
  src: url(/public/fonts/Causten-Black.otf) format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Caustenround";
  src: url(/public/fonts/Causten-Regular.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Caustenround";
  src: url(/public/fonts/Causten-SemiBold.otf) format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Caustenround", sans-serif;
  line-height: 1.5;
  background-color: rgb(10, 11, 23);
  color: rgb(225, 222, 219);
  background-image: url(https://6123e17b94094d00d26d6fc0--dehidden-nft.netlify.app/static/media/BG%20Gradientz.f61333d5.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.button {
  border: none;
  outline: 0;
  padding: 0.7rem 2.5rem;
  border-radius: 2.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 1.25rem;
}

.primary {
  background-color: rgb(177, 0, 45);
  color: rgb(225, 222, 219);
  box-shadow: rgb(182 4 47 / 70%) 0px 0px 20px;
}

.icon {
  margin-right: 8px;
  width: 17px;
  height: 17px;
}

/* Container Section Styling */
.container {
  display: flex;
  height: 100vh;
  box-sizing: border-box;
  align-items: stretch;
}

.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
}
